$primary-color-light: #598392;
$primary-color-dark: #124559;
$secondary-color-light: #aec3b0;
$secondary-color-dark: #eff6e0;
$color-black: #01161e;
$color-white: #f6fff8

/* .header {
    text-align: center;
    color: #4CAF50;
    font-family: 'Arial', sans-serif;
    font-size: 2.5em;
} */    